# Diretórios e arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log
logs/

# Diretórios criados pela IDE IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Diretórios criados pela IDE Eclipse
.classpath
.project
.settings/
bin/

# Arquivos gerados pelo Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Arquivos de configuração (opcional)
*.properties
*.yml
*.yaml

# Arquivos gerados pelo Lombok (anotações e configurações)
lombok.config

# Arquivos de cache e pacotes criados por ferramentas externas
node_modules/
dist/
.build/

# Diretórios criados pelo sistema de linha de comando (caso use gradle/maven)
build/

# Configuração do IntelliJ Run/Debug
*.run.xml
